<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div th:fragment="header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                        <ul class="nav navbar-nav">
                            <li> <a href="#" th:href="@{/artists}">Artists</a> </li>
                            <li> <a href="#" th:href="@{/artist/new}">New Artist</a> </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

</body>
</html>